body,
html {
  background-color: #fffbfb;
  scroll-behavior: smooth;
  font-family: "Gamja Flower";
}

.header {
  position: sticky;
  top: 0px;
}

#name {
  margin-left: 30px;
}

.mainHeader {
  background-color: #fffbfb; /* Keeps the text from going underneath and provides a solid color. */
  display: flex;
  justify-content: space-between; /* This will push leftNavigation to the left and rightNavigation to the right */
  text-decoration: none;
}

.rightNavigation {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

#Instagram {
  height: 20px;
  width: auto;
  margin-top: 10px;
}

#Gmail {
  height: 23px;
  width: 23px;
  margin-top: 9.5px;
}

.link:hover {
  color: black;
  text-decoration: underline;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
  text-decoration: underline;
}

.socials {
  margin-top: 3px;
  display: flex;
  gap: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: #deb9b9;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
  font-family: "Gamja Flower";
}

.back-to-top:hover {
  background-color: #555;
}

footer {
  background-color: #f4e5e5;
  color: black;
  padding: 20px 0;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.logo img {
  height: 50px;
  width: auto;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-nav li {
  margin: 0 15px;
}

.footer-nav a {
  color: black;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
}

.social-icon {
  margin-left: 15px;
  color: black;
  text-decoration: none;
}

.social-icon:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 0;
}

.preview {
  background-color: #f4e5e5;
  padding: 50px;
  text-align: center;
}

.preview-content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.preview p {
  font-size: 1rem;
  line-height: 1.6;
}

.preview img {
  width: auto;
  max-width: 300px;
  height: 100px;
}

.statement-of-work {
  background-color: #fffbfb;
  padding: 60px 20px;
}

.sow-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sow-text {
  max-width: 700px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.sow-text h2 {
  margin: auto;
  font-size: 20px;
  margin-right: 30px;
  white-space: nowrap;
}

.sow-text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.sow-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 900px;
  width: 100%;
}

.grid-item {
  background-color: #f4e5e5;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.grid-item h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
}

.grid-item p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.iframe-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Optional: centers vertically */
  height: 100vh; /* Adjust height if needed */
}
